
ul {
  list-style-type: none;
  padding: 0;
}

li {
  list-style-type: none;
}



.comment{
  border: black;
  background-color: #b4d2e7;
  width: 300px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.addComment{
  display: grid;
  border: black;
  background-color: #a1a6b4;
  width: 300px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;

}

.topics {
  color: white;
  margin: 20px
}

.title {
  background-color: #B4D2E7;
  border-radius: 2em;
  padding: 20px;
  margin: 20px;
}
.navbar {
  background-color: #B4D2E7;
  border-radius: 2em;
  padding: 20px;
  margin: 20px
}
.footer {
  background-color: #B4D2E7;
  border-radius: 2em;
  padding: 20px;
  margin: 20px
}

.article {
  background-color: #94c5cc;
  border-radius: 2em;
  padding: 20px;
  margin: 20px
}

.article-list {
  background-color: #B4D2E7;
  border-radius: 2em;
  padding: 20px;
  margin: 20px
}

.article-card{
  background-color: #94C5CC;
  border-radius: 2em;
  padding: 20px;
  margin: 20px
}

