
.title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #B4D2E7;
  border-radius: 2em;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.349);
  border-style: solid;
  padding: 20px;
  margin: 10px;
  font-weight: 600;
  font-size: larger;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content:space-around;
  flex-wrap: wrap;
  background-color: #B4D2E7;
  border-radius: 2em;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.349);
  border-style: solid;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.article-page {
  background-color: #B4D2E7;
  border-radius: 2em;
  padding: 10px;
  margin: 10px;
  border-color: rgba(0, 0, 0, 0.349);
  border-style: solid;
  border-width: 2px;
}

.article-list {
  display: flex;
  align-items: center;
  justify-content:space-around;
  flex-wrap: wrap;
  align-items: baseline;
  padding: 10px;
  margin: 10px
}

.article-card{
  width: 300px;
  background-color: rgb(139, 171, 194);
  border-radius: 2em;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.623);
  border-style: solid;
  padding: 10px;
  margin: 10px;
}

.filters {
  display: flex;
  align-items: baseline;
  justify-content:space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px;
}

.topic-button {
  margin: 10px
}

.sort-select{
  margin: 20px
}


.article-card a:link {
  color:  black;
   text-decoration-line: none;
}

.article-card a:visited {
  color:  black;
}

.article{
  background-color: #B4D2E7;
  border-radius: 2em;
  padding: 10px;
  margin: 10px;
  border-color: rgba(0, 0, 0, 0.349);
  border-style: solid;
  border-width: 2px;
  font-weight: 500;
  color: black;
}


.comment-list {
  background-color: #89c2eb;
  border-radius: 2em;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.349);
  border-style: solid;
  margin: 10px;
  text-align: center;
  align-items: center;
  
}

.addComment{
  border-style: solid;
  border-radius: 2em;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.623);
  border-radius: 2em;
  background-color: rgb(139, 171, 194);
  width: 300px;
  margin: 10px;
  padding: 10px;
  align-items: center;
}

.comment-box {
  background-color: #b4d2e7;
  border-style: solid;
  border-radius: 1em;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.623);
  border-radius: 1em;
  padding: 20px;
  align-items: center;
  font-family:'Montserrat', sans-serif;
  font-size: 16pt;
}
 

.comment-card{
  display: flex;
  align-items: center;
  justify-content:space-around;
  flex-wrap: wrap;
  align-items: baseline;
  margin: 10px
}

.comment {
  width: 300px;
  background-color: rgb(139, 171, 194);
  border-radius: 2em;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.623);
  border-style: solid;
  padding: 10px;
  margin: 10px;
}

.delete-button {
  color: white;
  background-color: #c3002f;
}

.footer {
  background-color: #B4D2E7;
  border-radius: 2em;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.349);
  border-style: solid;
  padding: 10px;
  margin: 10px;
}